
body:not(header) {
  color: white;
}

#nombrePersonaje {
  font-size: 3rem;
}


.talento-item {
  text-align: center;
}


.personaje-container {
    display: flex
;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}
  
  .equipo-col {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .personaje-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
  }
  
  .render-box {
    width: 300px;
    height: 300px;
    background-color: #1a1a1a;
    border: 2px solid #555;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .render-box canvas {
    width: 90%;
    height: 90%;
    background-color: #2a2a2a;
  }
  
  .render-label {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    color: #ccc;
  }
  
  .estadisticas-box {
    background-color: #222;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 6px;
    width: 100%;
  }
  
  .estadisticas-box h2 {
    margin-bottom: 10px;
    color: #4db8ff;
    font-size: 18px;
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 10px;
    font-size: 14px;
    color: #eee;
  }
  
  .talentos {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #1f1f1f;
    border: 1px solid #444;
    border-radius: 8px;
  }
  
  .talentos h2 {
    color: #c084fc;
    margin-bottom: 10px;
  }
  
  .talento-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 12px;
    margin-bottom: 20px;
  }
  
  .talento-grid img {
    width: 48px;
    height: 48px;
    display: block;
    margin: 0 auto;
  }
  